@import "tailwindcss";
@import "tw-animate-css";

@theme {
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
}

:root {
  --primary: #2563eb;
  --secondary: #64748b;
}

body {
  @apply text-slate-900 antialiased;
}

/* Custom scrollbar for sidebar */
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #334155;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #475569;
}
